* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Heebo', sans-serif;
    background-color: #6daec2;
}
.container{
    max-width: 500px;
    margin: 20px auto;
}
.bayan_wrapper-title {
    color: #fff;
    text-align: center;
}
.bayan-title {
    padding: 10px 0 ;
}
.mem__item {
    display: block;
    border-top: 1px solid #fff;
}
.top {
    display: flex;
    justify-content: space-between;
}

.input_mem {
    display: none;
}
.down {
    margin-bottom: 10px;
    display: none;
}
.bayan_img {
    display: block;
    max-width: 350px;
    margin: 0 auto;
}
.uptoclose-item {
    display: none;
    padding: 10px 0;
    color: #000 !important;
}
.mem__item:has(input:checked) .down {
   display: block;
}

.mem__item:has(input:checked) {
    color: #000;
}

.mem__item:hover  {
    color: #48dd69;
}


@media (any-hover: hover) {
    .mem__item:hover .down {
        display: block;
    }
    .mem__item:hover .uptoclose-item {
        transform: rotate(-45deg);
        display: block;
    }

}




.down__text {
    animation: ani 0.3s forwards;
}
@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  