* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Heebo";
  background-color: #f2f3d9;
  color: #151e3f;
}
.container {
  max-width: 900px;
  margin: 10px auto;
  padding: 0 10px;
}
.bayan_wrapper-title {
    font-size: 50px;
  color: #151e3f;
  text-align: center;
}
.bayan-title {
  font-size: 30px;
  padding: 10px 0;
}
.mem__item {
  display: block;
  border-top: 1px solid #151e3f;
}
.top {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.input_mem {
  display: none;
}
.down {
  display: none;
  margin-bottom: 10px;
}
.bayan_img {
  display: block;
  max-width: 350px;
  max-height: 350px;
  margin: 0 auto;
}

.uptoclose-item-img {
  padding: 15px 0;
}
.mem__item:has(input:checked) .down {
  display: block;
  animation: shows 1s;
}
.mem__item:has(input:checked) .bayan-title {
  color: #ff474a;
}
.mem__item:has(input:checked) .uptoclose-item-img {
  transform: rotate(-180deg);
}
.mem__item:active div span {
  color: #151e3f !important;
}
.mem__item:hover .uptoclose-item-img {
  transform: rotate(-180deg);
  display: block;
  transition: all 0.5s;
}

@media (hover: hover) {
  .uptoclose-item-img {

    display: none;
    padding: 15px 0;
  }

  .mem__item:hover .down {
    display: block;
    animation: shows 1s;
  }
  .mem__item:hover .uptoclose-item-img {
    transform: rotate(-180deg);
    display: block;
    transition: all 0.5s;
  }
  .container:hover .uptoclose-item-img {
    transition: all 0.5s;
    display: block;
  }
  .container:hover .bayan-title {
    color: #ff474a;
  }
  .container:hover .mem__item {
    cursor: pointer;
  }
  .container:hover .mem__item:not(:hover) {
    color: #ff474a;
  }
  .transition:hover {
    transition: 0.5s;
  }
}

@keyframes shows {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width:820px) {
    .container {
        max-width: 600px;
      }
      .bayan-title {
        font-size: 20px;
      }
      .bayan_wrapper-title {
        font-size: 40px;

    }
}
@media (max-width:320px) {
    .container {
        max-width: 300px;
      }
      .bayan-title {
        font-size: 14px;
      }
      .bayan_img {

        max-width: 250px;
        max-height: 250px;

      }
      .bayan_wrapper-title {
        font-size: 25px;

    }

}