* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Heebo", sans-serif;
  background-color: #F2F3D9;
  color: #151E3F;
}

.container {
  max-width: 500px;
  margin: 20px auto;
}
.bayan_wrapper-title {
  color: #151E3F;
  text-align: center;
}
.bayan-title {
  padding: 10px 0;
}
.mem__item {
  display: block;
  border-top: 1px solid #151E3F;
}
.top {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.input_mem {
  display: none;
}
.down {
  display: none;
  margin-bottom: 10px;
}
.bayan_img {
  display: block;
  max-width: 350px;
  max-height: 350px;
  margin: 0 auto;
}

.uptoclose-item-img {
  padding: 10px 0;
}
.mem__item:has(input:checked) .down {
  display: block;
  animation: shows 1s;
}
.mem__item:has(input:checked) .bayan-title {
  color: #FF474A;
}
.mem__item:has(input:checked) .uptoclose-item-img {
  transform: rotate(-180deg);
}
.mem__item:active div span {
  color: #151E3F!important;
}
.mem__item:hover .uptoclose-item-img {
    transform: rotate(-180deg);
    display: block;
    transition: all 0.2s;
  }


@media (hover: hover) {
    .uptoclose-item-img {
        display: none;
        padding: 10px 0;
      }

  .mem__item:hover .down {
    display: block;

    animation: shows 1s;
  }
  .mem__item:hover .uptoclose-item-img {
    transform: rotate(-180deg);
    display: block;
    transition: all 0.2s;

  }

  .container:hover .uptoclose-item-img {
  transition: all 0.2s;
  display: block;
}
.container:hover .bayan-title {
  color: #FF474A;
}
.container:hover .mem__item:not(:hover) {
  color: #FF474A;
}

.transition:hover {
  transition: 1s;
}
}


@keyframes shows {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
